/* Navbar fija */
.navbar {
    padding: 1rem 0;
}

/* Hero */
.hero {
    background: url('herojpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
}

.hero .btn {
    font-size: 1.25rem;
}

/* Tarjetas de servicios */
.card:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}
