
.navbar-logo {
    width: 50px;
    height: auto;
}
/* Hero */

.hero {
    position: relative; /* Asegúrate de que el contenedor tenga posicionamiento relativo */
    height: 100vh;
    background: url('hero.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

/* Capa de opacidad sobre la imagen */
.hero::before {
    content: "";
    position: absolute; /* La capa se posiciona sobre la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    z-index: 1; /* Asegura que esté por encima de la imagen, pero debajo del texto */
}

/* El texto y botones estarán sobre la capa de opacidad */
.hero .container {
    position: relative;
    z-index: 2;
}


/* Hover Cards */
.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}


/* Imagenes de servicios */
.card-img-top {
    height: 200px;
    object-fit: cover;
}


/* Botón flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
